<connectionStrings>
  <add name="DataContext" providerName="System.Data.SqlClient" connectionString="Data Source=donau.hiof.no;Initial Catalog=mariujoh;Integrated Security=False;User ID=mariujoh;Password=Sommer16;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
</connectionStrings>